@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}
@import "fonts";

@import "./vendors/resetstyle.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "variables";
@import "media.scss";

// ***** scel ******
@import "scel/header.scss";
@import "scel/about.scss";
@import "scel/work.scss";
@import "scel/strategy.scss";
@import "scel/services.scss";
@import "scel/team.scss";
@import "scel/testimonials.scss";
@import "scel/blog.scss";
@import "scel/contact.scss";
@import "scel/layet.scss";
