// Colors
$color-1: #fff;
$color-2: #000;
$color-3: #595959;
$color-4: #ffc600;
$color-5: #ffa800;
$color-6: #1d1d1d;
$color-7: #e8e8e8;
$color-8: #717171;
$color-9: #101010;
$color-10: #c5c5c5;
$bodycolor: #161616;
$formColor: #2046b3;
